{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden d-flex flex-column hide-scrollbar" {{stimulus_controller('account')}}>
		<div class="row g-2">
			<div class="col-md-6 mx-auto py-2">
				<div class="text-center mb-2">
					<div class="bg-primary bg-opacity-25 border border-primary  rounded d-flex mx-auto my-2" style="height: 80px; width: 80px;">
	                    <i class="bi bi-person-circle rounded-circle align-self-center mx-auto text-primary" style="font-size:48px;"></i>
	                </div>
                    <p class="mb-0"><b class="text-uppercase">Account</b></p>
					<p class="small"><span class="text-secondary">Account info and settings</span></p>
				</div>

				<div class="list-group mb-2">
                    <a href="{{path('app_account_edit')}}" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-gear-wide-connected fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Settings</b>
						        <p class="small text-secondary mb-0">Account settings</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="#" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-question-circle fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Frequently Asked Questions</b>
						        <p class="small text-secondary mb-0">Search for answers</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="https://remote-tech.co.uk/terms" target="_blank" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-file-text fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Terms and Conditions</b>
						        <p class="small text-secondary mb-0">Our terms and conditions</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="https://remote-tech.co.uk/privacy" target="_blank" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-file-earmark-lock fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Privacy Policy</b>
						        <p class="small text-secondary mb-0">Check privacy policy</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<a href="https://support.remote-tech.co.uk" target="_blank" class="list-group-item list-group-item-action bg-darker">
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-life-preserver fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Support</b>
						        <p class="small text-secondary mb-0">Ask for help</p>
						    </div>
						    <div class="flex-shrink-0">
						        <i class="bi bi-chevron-right text-secondary"></i>
						    </div>
						</div>
					</a>
				</div>
				<div class="list-group mb-2">
					<div role="button" class="list-group-item list-group-item-action bg-darker" {{ stimulus_action('account', 'toggle', 'click') }} >
						<div class="d-flex align-items-center">
						    <div class="flex-shrink-0">
						        <i class="bi bi-front fs-3 text-primary"></i>
						    </div>
						    <div class="flex-grow-1 ms-3 small">
						        <b>Dark Mode</b>
						        <p class="small text-secondary mb-0">Toggle theme</p>
						    </div>
						    <div class="flex-shrink-0 form-check form-select-lg form-switch p-0 align-self-center d-flex">
						        <input class="form-check-input align-self-center p-0 m-0" type="checkbox" {{ stimulus_target('account', 'darkMode') }} id="darkModeSwitch">
						    </div>
						</div>
					</div>
				</div>
				<div class="list-group mb-2">
                    {%if app.user %}
                    <a href="{{path('app_logout')}}" class="list-group-item list-group-item-action bg-darker">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="bi bi-power fs-3 text-danger"></i>
                                </div>
                                <div class="flex-grow-1 ms-3 small">
                                    <b>Log out</b>
                                    <p class="small text-secondary mb-0">Exit account</p>
                                </div>
                            </div>
                        </a>
                    {%else%}
                        <a href="{{path('app_login')}}" class="list-group-item list-group-item-action bg-darker">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="bi bi-person-circle fs-3 text-primary"></i>
                                </div>
                                <div class="flex-grow-1 ms-3 small">
                                    <b>Login</b>
                                    <p class="small text-secondary mb-0">Login page</p>
                                </div>
                            </div>
                        </a>
                    {%endif%}
                </div>
			</div>
		</div>


        <div class="py-5">
            <span>&nbsp;</span>
        </div>
	</div>
{% endblock %}
