{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% set content_title = 'Stellar Today' %}

{% block body %}
<div class="row g-2">
    <div class="col-lg-8 col-xl-9 col-12">
        {% include 'content-header.html.twig' with {'right_block': true} %}
    </div>
</div>

<div class="row g-2">
    <div class="col-lg-8 col-xl-9 col-12 vh-100 overflow-y-scroll overflow-x-hidden d-flex flex-column hide-scrollbar">
        {{ component('posts-component') }}
        <div class="py-5 mb-4">
            <span>&nbsp;</span>
        </div>
        <div class="mt-5 d-block d-sm-none">
            <span>&nbsp;</span>
        </div>
    </div>

    <div class="col-lg-4 col-xl-3 d-none d-lg-block vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
        <div class="card mb-2">
            {{ component("market-information") }}
        </div>

        <div class="card mb-2">
            {{ component('interesting-projects') }}
        </div>

        <div class="card mb-2">
            {{ component('popular-tags') }}
        </div>

        <div class="card mb-2">
            {{ component('users-to-follow') }}
        </div>

        <div class="py-5 mb-4">
            <span>&nbsp;</span>
        </div>
    </div>
</div>

<div class="mb-5 pb-2">
    &nbsp;
</div>
{% endblock %}
