{% extends 'base.html.twig' %}

{% set content_title = 'Statistics'%}

{% block title %}{{content_title}}{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': false} %}

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Price Charts</span>
            <div class="small">
                <span class="text-secondary small mb-0">Currency Statistics</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_show', {stat: 'price_usd'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Market Price</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_show', {stat: 'market_cap'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Market Capitalization</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_show', {stat: 'market_cap_dominance'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Market Cap Dominance</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_show', {stat: 'circulating_supply'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Circulating Supply</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_show', {stat: 'volume_24h'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Payments Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Trades Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">CEX Trade Volume</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Blockchan Charts</span>
            <div class="small">
                <span class="text-secondary small mb-0">All you need to know about ledgers</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2" style="display: none">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Blockchain Size</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2" style="display: none;">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Average Ledger Size</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Ledgers Per Day</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'transactions_per_ledger'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Per Ledger</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'operations_per_ledger'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Operations Per Ledger</b>
                        <div class="small text-secondary">
                            <span class="small">Average number of operations per ledger from 10 to 10 minutes.</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'number_of_transactions'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Number of Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Total number of transactions from 10 to 10 minutes </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'operations_per_ledger'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Number of Operations</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'average_ledger_time'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Average Ledger Time</b>
                        <div class="small text-secondary">
                            <span class="small">Average ledger lifetime</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'contract_invocations'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Contract Invocations</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'created_contracts'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Created Contracts</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Network Activity</span>
            <div class="small">
                <span class="text-secondary small mb-0">All you need to know about stellar</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Assets</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Active Addresses </b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Inactive Addresses</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">TOP 100 Active Addresses</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'successful_transactions'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Successfully Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Succesfully transactions on interval of 10 minutes.</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'failed_transactions'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Failed Transactions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="{{path('app_statistics_ledger_show', {stat: 'transactions_per_second'})}}" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Per Second</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Output Value Per Day</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Transactions Value</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">Stellar Community Fund</span>
            <div class="small">
                <span class="text-secondary small mb-0">Stellar Community Fund</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Submissions</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Activation Award Count</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Community Award Count</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Total Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Activation Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Community Awarded</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Voters</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex align-items-center border-0 py-2">
        <div class="flex-grow-1 d-flex flex-column lh-1">
            <span class="fw-bold mb-1">StellarChain</span>
            <div class="small">
                <span class="text-secondary small mb-0">Application Stats</span>
            </div>
        </div>
    </div>
    <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Users</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Communitites</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Posts</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Likes</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Jobs</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Projects</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Visitors</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group me-2">
            <a class="list-group-item list-group-item-action p-2" href="#" style="width: 250px;">
                <div class="d-flex bg-light rounded" style="height: 168px;">
                    <img src="/assets-custom/sparkline.svg" class="img-fluid align-self-center w-100">
                </div>
                <div class="d-flex align-items-center pt-2">
                    <div class="flex-grow-1 d-flex flex-column lh-1 small">
                        <b class="mb-1">Pageviews</b>
                        <div class="small text-secondary">
                            <span class="small">Lorem ipsum </span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex">
                        <span class="badge bg-opacity-25 align-self-center text-danger bg-danger small"><i
                                class="bi bi-caret-down-fill"></i> -2</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="mb-5 pb-3">
        &nbsp;
    </div>
</div>
{% endblock %}
