{% extends 'base.html.twig' %}

{% block title %}{{job.title}}{% endblock %}

{% set content_title = job.title%}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="row">
        <div class="col-sm-6 offset-md-2">
            <div class="mb-2 mt-2">
                <div class="mb-2">
                    <span class="badge bg-secondary">{{job.location}}</span>
                    <span class="badge bg-secondary">${{job.salary}}</span>
                    <span class="badge bg-secondary">{{job.category}}</span>
                    <span class="badge bg-secondary">{{job.user}}</span>
                    <span class="badge bg-secondary">{{job.createdAt | date('d F Y')}}</span>
                </div>
            </div>

        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-2">
                <div class="card-body">
                    {{job.description | raw}}
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>

{% endblock %}
