{% extends 'base.html.twig' %}

{% block title %}Markets{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar" {{stimulus_controller('horizon', {assetCode:
    asset.assetCode, assetIssuer: asset.assetIssuer})}}>
    <div class="card mt-4">
        <div class="asset-header">
            <div class="d-flex">
                <div class="icon-container mb-2">
                    {% if toml is defined %}
                    <img src="{{toml.image}}" height="75px" class="rounded-circle" />
                    {% else%}
                    <img src="https://stellarchain.io/img/xlm.316d17cc.png" height="75px" class="rounded-circle" />
                    {% endif %}
                </div>

                <div>
                    {% if toml is defined and toml.name is defined %}
                    <h2 class="mb-2">{{toml.name}}<span> {{asset.assetCode}} </span></h2>
                    {% else %}
                    <h2 class="mb-2"><span> {{asset.assetCode}} </span></h2>
                    {% endif %}

                    {% if toml is defined %}
                    <p>
                        {% if toml.url is defined %}
                        <span class="small"> <a class="text-decoration-none" href="{{ toml.url}}">{{toml.url}}</a> </span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <div class="info-section mt-2">
                    <p class="text-muted">
                        {% if toml.desc is defined %}
                        {{ toml.desc }}
                        {% endif %}
                    </p>

                    {% endif %}
                    <p class="small">Issuer:
                        <a href="https://stellarchain.io/accounts/{{asset.assetIssuer}}" class="text-decoration-none"><span>{{asset.assetIssuer}}</span></a>
                    </p>
                    <p class="small contract-link">Contract:
                        <a href="https://stellarchain.io/contracts/" class="text-decoration-none"><span id="contractId"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-4 gap-0 gap-sm-2 flex-column flex-md-row">
        <div class="w-100">
            <div class="card d-flex flex-row p-2 gap-2 mb-2">
                <span class="p-1">
                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                        style="height: 44px; width: 44px;"><i class="bi bi-currency-dollar text-primary fs-5"></i></div>
                </span>
                <div class="rounded">
                    <h5 class="card-title m-0">Market Price</h5>
                    <p class="card-text">
                        <span class="text-success">${{priceMarket | number_format(5)}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="card d-flex flex-row p-2 gap-2 mb-2">
                <span class="p-1">
                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                        style="height: 44px; width: 44px;"><i class="bi  bi-graph-up-arrow text-primary fs-5"></i></div>
                </span>
                <div class="rounded">
                    <h5 class="card-title m-0">Market Cap</h5>
                    <p class="card-text">
                        <span class="text-success">${{marketCap | number_format}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="card d-flex flex-row p-2 gap-2 mb-2">
                <span class="p-1">
                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                        style="height: 44px; width: 44px;"><i class="bi bi-percent text-primary fs-5"></i></div>
                </span>
                <div class="rounded">
                    <h5 class="card-title m-0">Change 24h</h5>
                    <p class="card-text">
                        <span class="text-success">{{latestMetric.priceChange24h}}%</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="card d-flex flex-row p-2 gap-2 mb-2">
                <span class="p-1">
                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                        style="height: 44px; width: 44px;"><i class="bi bi-database text-primary fs-5"></i></div>
                </span>
                <div class="rounded">
                    <h5 class="card-title m-0">Volume 24h</h5>
                    <p class="card-text">
                        <span class="text-warning">{{(latestMetric.volume24h * priceMarket) | number_format}} $</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="card d-flex flex-row p-2 gap-2 mb-2">
                <span class="p-1">
                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                        style="height: 44px; width: 44px;"><i class="bi bi-hdd-rack text-primary fs-5"></i></div>
                </span>
                <div class="rounded">
                    <h5 class="card-title m-0">Trades</h5>
                    <p class="card-text">
                        <span class="text-warning">{{latestMetric.totalTrades}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="rounded p-2">
                    <div
                        class="d-flex flex-column flex-md-row justify-content-between mb-2 align-items-start align-items-sm-center gap-2">
                        <div class="card d-flex gap-4 flex-md-row flex-column">
                            <div class="d-flex flex-row gap-2">
                                <span class="p-1">
                                    <div class="icon d-flex align-items-center justify-content-center bg-primary bg-opacity-10 rounded"
                                        style="height: 44px; width: 44px;"><i
                                            class="bi bi-currency-dollar text-primary fs-5"></i></div>
                                </span>
                                <div class="d-flex align-items-start flex-column">
                                    <h5 class="card-title m-0">{{asset.assetCode}}/XLM</h5>
                                    <p class="card-text">
                                        <span class="text-success stat-price">${{priceMarket | number_format(5)}}</span>
                                    </p>
                                </div>
                            </div>

                            <div id="chart-tick" class="d-flex align-items-center d-none">
                                <div class="bg-black d-flex gap-2 p-1 rounded tick-data">
                                <div class="d-flex align-items-start small text-white">
                                    <span class="m-0 text-muted">Open: </span>&nbsp;<span id="stat-open"></span>
                                </div>
                                <div class="d-flex align-items-start small">
                                    <span class="card-title m-0 text-muted">Close: </span>&nbsp;<span id="stat-close"></span>
                                </div>
                                <div class="d-flex align-items-start small">
                                        <span class="card-title m-0 text-muted">High: </span>&nbsp;<span id="stat-high"></span>
                                </div>
                                <div class="d-flex align-items-start small">
                                    <span class="card-title m-0 text-muted">Low: </span>&nbsp;<span id="stat-low"></span>
                                </div>
                                <div class="d-flex align-items-start small">
                                    <span class="card-title m-0 text-muted">Volume: </span>&nbsp;<span id="stat-volume"></span>
                                </div>
                                <div class="d-flex align-items-start small">
                                    <span class="card-title m-0 text-muted">MA: </span>&nbsp;<span id="stat-ma"></span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="d-flex gap-1 small timeframes">
                            <span
                                class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">1m</span>
                            <span
                                class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">5m</span>
                            <span
                                class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">15m</span>
                            <span
                                class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">1h</span>
                            <span
                                class="d-flex justify-content-center align-items-center rounded small hover mb-0 bg-primary">1d</span>
                            <span
                                class="d-flex justify-content-center align-items-center bg-black rounded small hover mb-0">1w</span>
                        </div>
                    </div>
                    <div id="trades-chart" class="rounded" style="height:390px" {{ stimulus_target('horizon', 'chart' )
                        }}></div>
                    <div class="spinner-border text-primary z-1 ml-auto absolute position-absolute top-50 start-50 d-none"
                        id="loading-chart" role="status" aria-hidden="true"></div>
                    <div class="text-warning z-1 ml-auto absolute position-absolute top-50 start-50 d-none"
                        id="error-chart" role="status" aria-hidden="true">Service to busy.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-2 bg-white p-1 rounded">
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Balance: <p class="card-text text-white fw-bold"
                        id="total_amount"></p>
                </li>
                <li class="list-group-item text-muted">Claimable Balances <p class="card-text text-white fw-bold"
                        id="claimable_balances">
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Contracts: <p class="card-text text-white fw-bold"><span
                            id="num_contracts"></span>
                    </p>
                </li>
                <li class="list-group-item text-muted">Contracts amount <p class="card-text text-white fw-bold"
                        id="contracts_amount"></p>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Liquidity pools: <p class="card-text text-white fw-bold"><span
                            id="liquidity_pools"></span></p>
                </li>
                <li class="list-group-item text-muted">Authorized accounts: <p class="card-text text-white fw-bold"
                        id="authorized_accounts"></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-2 d-flex">
        <div class="col-md-7 pe-1">
            <div class="flex-fill h-100 ">
                <div class="card mb-2 mb-sm-0 h-100">
                    <span class="mt-3 fw-bold ms-3">Order Book</span>
                    <div class="card-body text-center align-items-start d-flex flex-column flex-md-row rounded">
                        <table id="bidTable"
                            class="table table-responsive table-striped table-hover table-trades table-borderless" {{
                            stimulus_target('horizon', 'bid' ) }}>
                            <thead>
                                <tr>
                                    <th scope="col" class="small text-secondary text-start"> Amount XLM</th>
                                    <th scope="col" class="small text-secondary text-end"> Price XLM </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="askTable"
                            class="table table-responsive table-striped table-hover table-trades table-borderless" {{
                            stimulus_target('horizon', 'ask' ) }}>
                            <thead>
                                <tr>
                                    <th scope="col" class="small text-secondary text-start"> Price XLM </th>
                                    <th scope="col" class="small text-secondary text-end"> Amount {{asset.assetCode}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 d-flex ps-1">
            <div class="card flex-fill h-100">
                <div class="card-title mt-3 fw-bold ms-3">Live Trades</div>
                <div class="card-body trades-card overflow-auto rounded-bottom">
                    <table id="trades"
                        class="table table-responsive table-striped table-hover table-trades table-borderless tableFixHead"
                        {{ stimulus_target('horizon', 'trades' ) }}>
                        <thead>
                            <tr>
                                <th scope="col" class="small text-secondary bg-white"> Amount {{asset.assetCode}} </th>
                                <th scope="col" class="small text-secondary bg-white"> Amount XLM </th>
                                <th scope="col" class="small text-secondary bg-white"> Price XLM </th>
                                <th scope="col" class="small text-secondary bg-white"> Time </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
        </div>

    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
