{% extends 'base.html.twig' %}

{% block title %}Markets{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar" {{stimulus_controller('horizon', {assetCode:
    asset.assetCode, assetIssuer: asset.assetIssuer})}}>
    <div class="card">
        <div class="asset-header row align-items-center ">
            <div class="col-md-2 d-flex justify-content-center">
                <div class="icon-container">
                    {% if toml is defined %}
                    <img src="{{toml.image}}" height="75px" class="rounded-circle" />
                    {% else%}
                    <img src="https://stellarchain.io/img/xlm.316d17cc.png" height="75px" class="rounded-circle" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="info-section">
                    {% if toml is defined and toml.name is defined %}
                        <h2 class="mb-2">{{toml.name}}<span> {{asset.assetCode}} </span></h2>
                    {% else %}
                        <h2 class="mb-2">Asset: <span> {{asset.assetCode}} </span></h2>
                    {% endif %}

                    {% if toml is defined %}
                   <p>
                    {% if toml.url is defined %}
                        Website: <a href="{{ toml.url}}">{{toml.url}}</a>
                    {% endif %}
                    </p>
                    <p>
                    {% if toml.desc is defined %}
                    {{ toml.desc }}
                    {% endif %}
                    </p>

                    <p>
                    {% if toml.conditions is defined %}
                    {{ toml.conditions }}
                    {% endif %}
                    </p>
                    {% endif %}
                    <p>Issuer: <span><a href="https://stellarchain.io/accounts/{{asset.assetIssuer}}">{{asset.assetIssuer}}</a></span></p>
                    <p>Contract: <span id="contractId"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Market Price</h5>
                    <p class="card-text"><span class="text-success">${{priceMarket}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Market Cap</h5>
                    <p class="card-text"><span class="text-info">${{marketCap | number_format}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Change 24h</h5>
                    <p class="card-text"><span class="text-warning">{{latestMetric.priceChange24h}}%</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">24h Volume</h5>
                    <p class="card-text"><span class="text-warning">{{latestMetric.volume24h | number_format}} {{asset.assetCode}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">24h Trades</h5>
                    <p class="card-text"><span class="text-warning">{{latestMetric.totalTrades}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-9">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Market Price</h5>
                    <div class="chart card mt-2">
                        {{render_chart(chart)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
             <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Total Amount</h5>
                    <p class="card-text" id="total_amount"></p>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Claimable Balances</h5>
                    <p class="card-text" id="claimable_balances"></p>
                    <span>Claimable Balances</span>
                    <span id="num_claimable_balances"></span>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Liquidity Pools</h5>
                    <p class="card-text" id="liquidity_pools"></p>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Contracts Amount</h5>
                    <p class="card-text" id="contracts_amount"></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contracts</h5>
                    <p class="card-text">Active: <span id="num_contracts"></span></p>
                    <p class="card-text">Archived amount: <span id="archived_contracts_amount"></span></p>
                    <p class="card-text">Archived total: <span id="num_archived_contracts"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- More Asset Information -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Accounts Information</h5>
                    <table class="table table-responsive table-hover table-trades table-borderless">
                        <tr>
                            <th>Authorized Accounts</th>
                            <td id="authorized_accounts"></td>
                        </tr>
                        <tr>
                            <th>Unauthorized Accounts</th>
                            <td id="unauthorized_accounts"></td>
                        </tr>
                        <tr>
                            <th>Authorized to Maintain Liabilities</th>
                            <td id="authorized_liabilities"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Balances</h5>
                    <table class="table table-responsive table-hover table-trades table-borderless">
                        <tr>
                            <th>Authorized</th>
                            <td id="balances_authorized"></td>
                        </tr>
                        <tr>
                            <th>Unauthorized</th>
                            <td id="balances_unauthorized"></td>
                        </tr>
                        <tr>
                            <th>Authorized to Maintain Liabilities</th>
                            <td id="balances_liabilities"></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{asset.assetCode}}/XLM</h5>
                    <div id="trades-chart" style="height:500px" {{ stimulus_target('horizon', 'chart' ) }}></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7">
            <div class="card text-center">
                <div class="card-body payments d-flex">
                    <table id="bidTable" class="table table-responsive table-striped table-hover table-trades table-borderless" {{
                        stimulus_target('horizon', 'bid' ) }}>
                        <thead>
                            <tr>
                                <th scope="col" class="small text-secondary text-start"> Amount {{asset.assetCode}}</th>
                                <th scope="col" class="small text-secondary text-end"> Price XLM </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table id="askTable" class="table table-responsive table-striped table-hover table-trades table-borderless" {{
                        stimulus_target('horizon', 'ask' ) }}>
                        <thead>
                            <tr>
                                <th scope="col" class="small text-secondary text-start"> Price XLM </th>
                                <th scope="col" class="small text-secondary text-end"> Amount {{asset.assetCode}} </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Trades</h5>
                    <table id="trades" class="table table-responsive table-striped table-hover table-trades table-borderless" {{
                        stimulus_target('horizon', 'trades' ) }}>
                        <thead>
                            <tr>
                                <th scope="col" class="small text-secondary"> Amount {{asset.assetCode}} </th>
                                <th scope="col" class="small text-secondary text-end"> Amount XLM </th>
                                <th scope="col" class="small text-secondary"> Price XLM </th>
                                <th scope="col" class="small text-secondary text-end"> Time </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
