{% extends 'base.html.twig' %}

{% block title %}Markets{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar" {{stimulus_controller('markets')}}>

    <div class="mt-4">
        <div class="d-flex align-items-center small pt-2">
            <div class="flex-grow-1">
                <span class="ps-0 mb-2 fs-1 fw-bold">Markets</span>
            </div>
            <div class="flex-shrink-0 text-end">
                <b>{{ "now"|date("l") }}</b>
                <p class="small text-secondary mb-0">{{assets| length}} pairs · {{ "now"|date("jS F") }}</p>
            </div>
        </div>
    </div>

    <table class="table table-hover small border-0 mb-2">
        <thead class="border-0 sticky-top">
            <tr class="border-0 small">
                <th class="border-0 col p-0" colspan="10">
                    <div class="bg-black py-2">
                        <div class="row g-2">
                            <div class="col-4">
                                <select class="form-select bg-white" aria-label="Default select example">
                                    <option>USD</option>
                                    <option>BTC</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select bg-white" aria-label="Default select example">
                                    <option>1 hour</option>
                                    <option selected="">24 hour</option>
                                    <option>7 days</option>
                                    <option>30 days</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select bg-white">
                                    <option selected="" value="default">Sort by</option>
                                    <option value="volume">Daily Volume</option>
                                    <option value="trustlines">Trustlines</option>
                                    <option value="total">Total Trades</option>
                                    <option value="daily">Daily Trades</option>
                                    <option value="age">Age</option>
                                    <option value="age">Market Cap</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr class="border-0 small">
                <th class="border-0 text-secondary text-center" style="width:1px;">Rank</th>
                <th class="border-0 text-secondary col ps-1">Market Cap</th>
                <th class="border-0 text-secondary col text-end">Price</th>
                <th class="border-0 text-secondary col text-end d-none d-lg-table-cell">1h%</th>
                <th class="border-0 text-secondary col text-end d-none d-lg-table-cell">24h%</th>
                <th class="border-0 text-secondary col text-end d-none d-lg-table-cell">7d%</th>
                <th class="border-0 text-secondary col text-end d-none d-lg-table-cell">Volume(24h)</th>
                <th class="border-0 text-secondary col text-end d-none d-lg-table-cell">Circulating Supply</th>
                <th class="border-0 text-secondary col text-end">Change</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr class="border-5 border-start-0 border-end-0 border-light bg-dark mb-2 font-monospace"
                onclick="window.open('https://stellarchain.io/assets/{{asset.assetCode}}-{{asset.assetIssuer}}');" style="cursor: pointer;">
                <td class="border-0 bg-white">
                    <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary"
                        style="height: 36px; width: 36px;">
                        <span class="rounded-circle align-self-center mx-auto fw-bold">1</span>
                    </div>
                </td>
                <td class="border-0 bg-white ps-1">
                    <div class="d-flex flex-column lh-1 align-self-center mt-1">
                        <span class="fw-bold mb-1">
                            {{asset.assetCode}}
                        </span>
                        <div class="small text-secondary"><span class="small">
                        ${{
                        (
                            (asset.claimableBalancesAmount +
                             asset.liquidityPoolsAmount +
                             asset.contractsAmount +
                             (asset.balances is not empty ? asset.balances.authorized : 0))
                            * (latestMetrics[asset.id].price * globalValues.price)
                        ) | format_large_number()
                        }}
                        </span></div>
                    </div>
                </td>
                <td class="border-0 bg-white">
                    <div class="font-monospace align-self-center mt-1 text-end lh-1">
                        <span class="small">
                            <span class="font-monospace">
                                <span class="">
                                    <strong>${{ (latestMetrics[asset.id].price * globalValues.price) | number_format(5, '.', ',') | split('.')[0]}}<span class="text-secondary">.{{ (latestMetrics[asset.id].price * globalValues.price) | number_format(5, '.', ',') | split('.')[1] }}</span>
                                    </strong>
                                </span>
                            </span>
                        </span>
                        <div class="small text-secondary mt-1">
                            <span class="small">
                                <span class="font-monospace">
                                    <span class="">{{ latestMetrics[asset.id].price | format_large_number }} XLM</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="border-0 bg-white text-end d-none d-lg-table-cell align-middle small {% if latestMetrics[asset.id].priceChange1h < 0 %}text-danger{% elseif latestMetrics[asset.id].priceChange1h == 0.0 %}text-secondary{% else %}text-success{% endif %}">
                   {% if latestMetrics[asset.id].priceChange1h < 0 %}
                       <i class="bi bi-caret-down-fill"></i>
                   {% elseif latestMetrics[asset.id].priceChange1h == 0.0 %}
                       <i class="bi bi-caret-right-fill"></i>
                   {% else %}
                       <i class="bi bi-caret-up-fill"></i>
                   {% endif %}
                   {{ latestMetrics[asset.id].priceChange1h}}%
                </td>
                <td class="border-0 bg-white text-end d-none d-lg-table-cell align-middle small {% if latestMetrics[asset.id].priceChange24h < 0 %}text-danger{% elseif latestMetrics[asset.id].priceChange24h == 0.0 %}text-secondary{% else %}text-success{% endif %}">
                    {% if latestMetrics[asset.id].priceChange24h < 0 %}
                        <i class="bi bi-caret-down-fill"></i>
                    {% else %}
                        <i class="bi bi-caret-up-fill"></i>
                    {% endif %}
                    {{ latestMetrics[asset.id].priceChange24h}}%
                </td>
                <td class="border-0 bg-white text-end d-none d-lg-table-cell align-middle small {% if latestMetrics[asset.id].priceChange7d < 0 %}text-danger{% elseif latestMetrics[asset.id].priceChange7d == 0.0 %}text-secondary{% else %}text-success{% endif %}">
                    {% if latestMetrics[asset.id].priceChange7d < 0 %}
                        <i class="bi bi-caret-down-fill"></i>
                    {% else %}
                        <i class="bi bi-caret-up-fill"></i>
                    {% endif %}
                    {{ latestMetrics[asset.id].priceChange7d}}%
                </td>
                <td class="border-0 bg-white text-end d-none d-lg-table-cell align-middle small">
                    ${{ (latestMetrics[asset.id].volume24h * latestMetrics[asset.id].price * globalValues.price) | number_format(2, '.', ',')  | split('.')[0] }}<span class="text-secondary">.{{ (latestMetrics[asset.id].volume24h * latestMetrics[asset.id].price * globalValues.price) | number_format(2, '.', ',') | split('.')[1] }}</span>
                </td>
                <td class="border-0 bg-white text-end d-none d-lg-table-cell align-middle small text-nowrap">
                    {{
                    (asset.claimableBalancesAmount +
                         asset.liquidityPoolsAmount +
                         asset.contractsAmount +
                         (asset.balances is not empty ? asset.balances.authorized : 0)) | number_format()
                    }}

                    {{asset.assetCode}}
                </td>
                <td class="border-0 bg-white text-end align-middle">
                    <div class="small font-monospace align-self-center text-end">
                        <div class="sm-chart">
                            {{ render_chart(charts[asset.id], {class: asset.assetCode}) }}
                        </div>
                        <div class="small {% if latestMetrics[asset.id].priceChange1h < 0 %}text-danger{% elseif latestMetrics[asset.id].priceChange1h == 0.0 %}text-secondary{% else %}text-success{% endif %} d-block d-lg-none">
                           {% if latestMetrics[asset.id].priceChange1h < 0 %}
                               <i class="bi bi-caret-down-fill"></i>
                           {% elseif latestMetrics[asset.id].priceChange1h == 0.0 %}
                               <i class="bi bi-caret-right-fill"></i>
                           {% else %}
                               <i class="bi bi-caret-up-fill"></i>
                           {% endif %}
                           {{ latestMetrics[asset.id].priceChange1h}}%
                        </div>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
