{# blocks/comment_form_block.html.twig #}

{% if form is defined %}
{{ form_start(form) }}
    <div class="form-floating mb-2 w-100">
        {{ form_widget(form.content, {'attr': {'placeholder': 'Leave a comment', 'style': 'height: 100px'}}) }}
        <label for="{{ form.content.vars.id }}">Leave a comment</label>
        <div class="form-error">
            {{ form_errors(form.content) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
{{ form_end(form) }}
{% endif %}
