{% extends 'base.html.twig' %}

{% block title %}{{community.name}}{% endblock %}

{% set content_title = community.name%}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar" {{stimulus_controller('follow')}}>
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            <div class="flex-shrink-0 m-2 d-flex">
                <div class="me-2">
                    <span class="badge rounded-pill border border-primary text-primary align-self-center "
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Followers">
                        <i class="bi bi-person-circle"></i> <span class="followers-badge"> {{community.followers.count}} </span>
                    </span>
                </div>
                <div class="me-2">
                    <span class="badge rounded-pill border border-primary text-primary align-self-center"
                       data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Posts">
                        <i class="bi bi-card-heading"></i> {{community.communityPosts.count}}
                    </span>
                </div>
                <span
                    {{ stimulus_action('follow', 'toggleFollowCommunity' , 'click' , { id: community.id, type: 'community' }) }}
                    class="text-secondary d-flex py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    role="button" data-bs-title="Follow">
                        {{ isFollowing ? '<i class="bi bi-x-circle text-danger align-self-center"></i>' : '<i class="bi bi-plus-circle text-primary align-self-center"></i>' }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    {{community.description | raw}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            <div class="mt-2">
                {{ form_start(postForm) }}
                <div class="form-floating mb-2 w-100">
                    <input name="{{ field_name(postForm.content) }}"
                        value="{{ field_value(postForm.content) }}"
                        placeholder="{{ field_label(postForm.content) }}" class="form-control" type="text">
                    <label for="content" class="form-label required">Whats on your mind</label>
                    <div class="form-error">
                        {{ form_errors(postForm.content) }}
                    </div>
                </div>
                <button type="submit" id="submit" name="submit" class="btn bg-white">
                    Post
                </button>
                {{ form_end(postForm) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            {% for communityPost in communityPosts %}
            <div class="card mt-2">
                <div class="card-body">
                    {{communityPost.content}}
                    <span class="small text-secondary">
                        {{communityPost.createdAt | time_diff}} by
                        <a href="{{path('app_profile_show', {id: communityPost.user.id})}}">@{{communityPost.user.username}}
                        </a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>

{% endblock %}
