{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% set content_title = post.title %}

{% block body %}

{{ component('show-post-component', {post: post, liked: liked, likes: likes}) }}

<div class="modal modal-sm fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Share</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center gap-3 flex-column">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url('app_post_show', {id: post.id}) }}"
                        class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i> Facebook
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={{ absolute_url('app_post_show', {id: post.id}) }}&text={{ post.title }}"
                        class="btn btn-info" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-twitter"></i> Twitter
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ absolute_url('app_post_show', {id: post.id}) }}&title={{ post.title }}"
                        class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shareModalComment" tabindex="-1" aria-labelledby="shareModalLabelComment"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabelComment">Share</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <input id="shareLinkComment" class="form-control" type="text" value="" readonly>
                    <div class="d-flex justify-content-end mt-2">
                        <button class="btn bg-white" id="copyButtonComment">Copy Link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
