<div{{ attributes.defaults(stimulus_controller('appear')) }}>
    {% if page > 1 %}
    <div id="item--{{ page - 1 }}-{{ per_page }}" data-live-ignore="true"></div>
    {% endif %}

    {% for community in this.communities %}
    <div class="list-group mb-2" id="item--{{ page }}-{{ loop.index }}" data-live-ignore>
        <a class="list-group-item list-group-item-action d-flex align-items-center p-2" href="#">
            <div class="flex-shrink-0 text-decoration-none" href="#">
                <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary  border border-primary"
                    style="height: 36px; width: 36px;">
                    <i class="bi bi-people rounded-circle align-self-center mx-auto fw-bold"></i>
                </div>
            </div>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <b class="mb-1">{{community.name}}</b>
                <div class="small text-secondary">
                    <span class="small">Stellar Blockchain Explorer</span>
                </div>
            </div>
            <div class="flex-shrink-0 me-2 d-flex">
                <div class="small me-2">
                    <span class="badge rounded-pill border border-primary text-primary align-self-center"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Followers"><i
                            class="bi bi-person-circle"></i> 234</span>
                </div>
                <div class="small me-2">
                    <span class="badge rounded-pill border border-primary text-primary align-self-center"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Posts"><i
                            class="bi bi-card-heading"></i> 234</span>
                </div>
                <span class="text-secondary d-flex py-0 rounded hover" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Follow"><i
                        class="bi bi-plus-circle text-primary text-primary align-self-center"></i></span>
            </div>
        </a>
    </div>
    {% endfor %}
    {% if this.hasMore %}
    {% for i in 1..per_page %}
    <div class="list-group mb-2" id="item--{{ page + 1 }}-{{ i }}" {% if loop.first %} data-appear-target="loader"
        data-action="appear->live#action" data-live-action-param="debounce(750)|more" {% endif %}>
        <span class="ProductGrid_loader" style="--delay: {{ (loop.index + 1) / per_page }};"></span>
    </div>
    {% endfor %}
    {% endif %}
</div>
