<div{{ attributes.defaults(stimulus_controller('jobs')|stimulus_controller('appear')) }}>
    <div class="mt-4">
        <div class="d-flex align-items-center small py-2">
            <div class="flex-grow-1">
                <span class="ps-0 mb-2 fs-1 fw-bold">Stellar Jobs</span>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-2">
        <div class="card-body rounded py-2 ">
            <div class="d-flex gap-3 align-items-center">
                <i class="bi bi-megaphone-fill text-primary fs-2"></i>
                <div class="d-flex flex-column justify-content-center">
                    <p class="fw-bold mb-0">👉 Are you hiring?</p>
                    <p class="small mb-0">Reach <u>40k monthly visitors</u> now</p>
                </div>
                <a class="btn btn-primary ms-auto" href="/jobs/new" role="button">Post Job</a>
            </div>
        </div>
    </div>

    <div>
        <div class="row g-2 mb-2">
            <div class="col-6 col-sm-3">
                <select class="form-select bg-white" data-model="category"
                    data-action="live#action"
                    data-live-action-param="resetPage"
                >
                    <option value="0">🔍 Any</option>
                    {% for jobCategory in this.jobCategories %}
                        <option value="{{jobCategory.id}}">{{jobCategory.icon}} {{jobCategory.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 col-sm-3">
                <select class="form-select bg-white" data-model="location"
                    data-action="live#action"
                    data-live-action-param="resetPage"
                >
                    <optgroup label="Regions">
                        <option value="worldwide">🌏 Worldwide</option>
                        {% for region in this.regions %}
                            <option value="region_{{region.id}}">{{region.icon}} {{region.name}}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Countries">
                        {% for location in this.locations %}
                        <option value="{{location.id}}">{{location.emoji}} {{location.name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="col-6 col-sm-3">
                <select class="form-select bg-white" data-model="salary" data-action="live#action"
                    data-live-action-param="resetPage">
                    <option value="0">💵 Any</option>
                    {% for i in 1..25 %}
                    <option value="{{ i }}">bigger then 💵 {{ i * 10 }}k/year</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 col-sm-3">
                <select class="form-select bg-white p-2" data-model="sort" data-action="live#action"
                    data-live-action-param="resetPage">
                    <option selected="" value="default">🦴 Sort by</option>
                    <option value="date">🆕 Latest jobs</option>
                    <option value="salary">💵 Highest paid</option>
                    <option value="views">👀 Most viewed</option>
                    <option value="applied">✅ Most applied</option>
                    <option value="hot">🔥 Hottest</option>
                    <option value="benefits">🎪 Most benefits</option>
                </select>
            </div>
        </div>

        {% if page > 1 %}
        <div id="item--{{ page - 1 }}-{{ per_page }}"></div>
        {% endif %}
        <div data-jobs-target="jobsList">
            {% for job in this.jobs %}
            <div class="list-group mb-2" id="item--{{ page }}-{{ loop.index }}" data-live-ignore="true">
                <a class="list-group-item list-group-item-action d-flex align-items-center p-2"
                    href="{{path('app_show_jobs', {id: job.id})}}">
                    <div class="flex-shrink-0 text-decoration-none" href="#">
                        <div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary"
                            style="height: 36px; width: 36px;">
                            <i class="bi bi-briefcase rounded-circle align-self-center mx-auto fw-bold"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                        <b class="mb-1">{{job.title}}</b>
                        <div class="small text-secondary">
                            <span class="small">${{job.salary | number_format}} · {{job.category.name}} · @{{job.user.username}} · @{{job.location}}</span>
                        </div>
                    </div>
                    <div class="flex-shrink-0 me-2 d-flex">
                        <span
                            class="text-primary d-flex px-1 py-0 rounded hover small fw-bolder align-self-center">NEW</span>
                        <span class="text-secondary d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Verified Project"><i
                                class="bi bi-patch-check-fill text-primary text-primary align-self-center"></i></span>
                        <span class="text-secondary d-flex px-1 py-0 rounded hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="{{job.location.name}}">{{job.location.emoji}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% if this.hasMore %}
        {% for i in 1..per_page %}
        <div class="list-group mb-2" id="item--{{ page + 1 }}-{{ i }}" {% if loop.first %} data-appear-target="loader"
            data-action="appear->live#action" data-live-action-param="debounce(750)|more" {% endif %}>
            <span class="grid_loader" style="--delay: {{ (loop.index + 1) / per_page }};"></span>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    </div>
