<div class="PostsComponent" {{ attributes.defaults(stimulus_controller('appear')) }}>
    {% if page > 1 %}
        <div id="item--{{ page - 1 }}-{{ per_page }}" data-live-ignore="true"></div>
    {% endif %}

    {% for post in this.posts %}
    <div class="list-group mb-2" id="item--{{ page }}-{{ loop.index }}" data-live-ignore {{ stimulus_controller('like') }}>
        <div class="list-group-item list-group-item-action d-flex align-items-center p-2">
            <a class="flex-shrink-0 text-decoration-none" href="#">
                <div
                    class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary"
                    style="height: 36px; width: 36px;"
                    data-bs-toggle="tooltip"
                    type="button"
                    data-bs-placement="top"
                    data-bs-title="Rank"
                >
                    <span class="rounded-circle align-self-center mx-auto fw-bold">
                        {{ post.post.rank }}
                    </span>
                </div>
            </a>
            <div class="flex-grow-1 ms-2 d-flex flex-column lh-1 small">
                <a class="text-decoration-none fw-bolder mb-1 text-reset"
                    href="{{ path('app_post_show', {'slug': post.post.slug}) }}">
                    {{ post.post.title }}
                </a>
                <div class="small text-secondary fw-bold">

                    <span
                        class="small"
                        role="button"
                        {{ stimulus_action('like', 'like', 'click', {id: post.post.id, type: 'post'} )}}
                    >
                        <i class="bi bi-heart small"></i>
                        <span {{ stimulus_target('like', 'totalLikes' ) }}> {{post.likes}} </span>
                    </span>

                    <span class="small ms-1"><i class="bi bi-chat small"></i> 0</span>
                    <a class="text-decoration-none small ms-1 text-secondary"
                       href="{{ path('app_account_show', {'username': post.post.user.username }) }}">
                        @{{post.post.user.username}}
                    </a>
                    <span class="small">&middot;</span>
                    <span class="small">{{ post.post.createdAt | time_diff }}</span>
                </div>
            </div>
            <span class="text-secondary d-flex me-2"
                data-bs-toggle="tooltip"
                type="button"
                data-bs-placement="top"
                data-bs-title="Verified"
            >
                <i class="bi bi-patch-check-fill text-primary align-self-center"></i>
                <span class="small align-self-center"></span>
            </span>
        </div>
    </div>
    {% endfor %}

    {% if this.hasMore %}
        {% for i in 1..per_page %}
            <div class="list-group mb-2" id="item--{{ page + 1 }}-{{ i }}" {% if loop.first %} data-appear-target="loader"
                data-action="appear->live#action" data-live-action-param="debounce(750)|more" {% endif %}>
                <span class="ProductGrid_loader" style="--delay: {{ (loop.index + 1) / per_page }};"></span>
            </div>
        {% endfor %}
    {% endif %}
</div>
