<div {{ attributes }} class="post-content vh-100 overflow-x-hidden">
    <div {{ stimulus_controller('post')|stimulus_controller('like') }}>
        <div class="d-flex align-items-center small py-2 justify-content-between">
            <div class="d-flex grid gap-2">
                <a class="bg-white border rounded d-flex flex-shrink-0" style="height: 36px; width: 36px;" href="/">
                    <span class="rounded-circle align-self-center mx-auto fw-bold fs-6 hover">
                        <i class="bi bi-arrow-left"></i>
                    </span>
                </a>
                <a class="bg-white border rounded d-flex flex-shrink-0 text-decoration-none"
                    style="height: 36px; width: 36px;">
                    <span class="rounded-circle align-self-center mx-auto fw-bold fs-6 d-flex gap-1 hover">
                        <i {{ stimulus_target('like', 'heartIcon' ) }}
                            class="bi bi-caret-up{{ liked ? '-fill' : '' }} fs-6" role="button" aria-label="Like post"
                            data-like-liked-param="{{ liked ? 'true' : 'false' }}" {{ stimulus_action('like', 'like'
                            , 'click' , { id: post.id, type: 'post' }) }}>
                        </i>
                        <span class="" {{ stimulus_target('like', 'totalLikes' ) }}> {{likes}} </span>
                    </span>
                </a>
            </div>
            <div class="d-flex grid gap-2">
                <a role="button" class="bg-white border rounded d-flex flex-shrink-0" style="height: 36px; width: 36px;"
                    data-bs-toggle="modal" data-bs-target="#shareModal">
                    <span class="rounded-circle align-self-center mx-auto fw-bold fs-6 hover">
                        <i class="bi bi-box-arrow-up"></i>
                    </span>
                </a>
                <div class="dropdown show ">
                    <a class="bg-white rounded border dropdown-toggle-comment d-flex flex-shrink-0"
                        style="height: 36px; width: 36px;" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="rounded-circle align-self-center mx-auto fw-bold fs-6">
                            <i class="bi bi-three-dots"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% if app.user and  app.user.id == post.user.id %}
                        <a class="dropdown-item" role="button" {{ stimulus_action('live', 'action' , 'click', {'action': 'deletePost'}) }}>
                            Delete
                        </a>
                        {% endif %}
                        <a class="dropdown-item" role="button" {{ stimulus_action('live', 'action' , 'click', {'action': 'reportPost'}) }}>
                            Report
                        </a>
                    </div>
                </div>
                <a type="button" class="bg-white border rounded d-flex flex-shrink-0" style="height: 36px; width: 36px;"
                    data-bs-toggle="modal" data-bs-target="#commentModal" data-action="live#action"
                    data-live-action-param="updateParentComment" data-live-component="comments-component">
                    <span class="rounded-circle align-self-center mx-auto fw-bold hover"><i class="bi bi-chat"></i></span>
                </a>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body rounded py-2">
                <div class="d-flex flex-column justify-content-center">
                    <p class="fw-bold mb-1">{{post.title}}</p>
                    <p class="small mb-1">{{post.body}}</p>
                    <div class="d-flex flex-row justify-content-between">

                    <div class="small text-secondary fw-bold">
                        <span class="small">{{post.rank}} points | <a class="text-decoration-none"
                                href="{{path('app_profile_show', {id: post.user.id})}}">@{{post.user.username}}</a></span>
                    </div>

                    <div class="small text-secondary fw-bold">
                        <span class="small">posted {{ post.createdAt | time_diff }}</span>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ component('comments-component', {entity: post, parentComment: null }) }}
</div>
