<div class="mt-4">
    <div class="d-flex align-items-center small py-2">
        <div class="flex-grow-1">
            <span class="ps-0 mb-2 fs-1 fw-bold">Projects</span>
        </div>
    </div>
</div>
<div class="card border-primary mb-2">
    <div class="card-body rounded py-2 ">
        <div class="d-flex gap-3 align-items-center">
            <i class="bi bi-award text-primary fs-2"></i>
            <div class="d-flex flex-column justify-content-center">
                <p class="fw-bold mb-0">Building on Stellar?</p>
                <p class="small mb-0">Get $15-150k to build your idea!</p>
            </div>
            <a class="btn btn-primary ms-auto" href="https://communityfund.stellar.org/" target="_blank" role="button">Join Now</a>
        </div>
    </div>
</div>

<div class="bg-black sticky-top pb-2">
    <div class="py-1 px-2 menu border rounded">
        <ul class="nav nav-pills nav-justified ">
            <li class="nav-item py-0 hover">
                <a class="nav-link py-1 tabs fw-bolder {{ app.request.get('_route') == 'app_projects' ? 'active' : '' }}" href="{{path('app_projects')}}">
                    Discover
                </a>
            </li>
            <li class="nav-item py-0 hover">
                <a class="nav-link py-1 tabs fw-bolder {{ app.request.get('_route') == 'app_projects_timeline' ? 'active' : '' }}" href="{{path('app_projects_timeline')}}">
                    Timeline
                </a>
            </li>
            <li class="nav-item py-0 hover">
                <a class="nav-link py-1 tabs fw-bolder {{ app.request.get('_route') == 'app_projects_list' ? 'active' : '' }}" href="{{path('app_projects_list')}}">
                    List
                </a>
            </li>
        </ul>
    </div>
</div>
