{% extends 'base.html.twig' %}

{% block title %}{{content_title}}{% endblock %}

{% set content_title = project.name%}

{% import 'macros/comment.html.twig' as comment_template %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="row">
        <div class="col-sm-6 offset-md-2">
            <div class="mb-2">
                <span class="badge bg-secondary">{{project.round.name}}</span>
                <span class="badge bg-secondary">{{project.awardTypeEnum | award_label}}</span>
                {% if project.type %}
                    <span class="badge bg-secondary">{{project.type.name}}</span>
                {% endif %}
                <span class="badge bg-secondary">${{project.budget | number_format}}</span>
                <span class="badge bg-secondary">
                    <a class="link-underline link-underline-opacity-0 text-reset"
                        href="https://dashboard.communityfund.stellar.org{{project.scfUrl}}" target="_blank">View in
                        SCF</a>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="text-end">
                <span class="text-secondary px-1 py-0 rounded hover"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Staff Favorite"
                >
                    <i class="bi bi-heart text-danger align-self-center"></i>
                </span>

                <span class="text-secondary  px-1 py-0 rounded hover"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Staff Favorite"
                >
                    <i class="bi bi-star-fill text-warning align-self-center"></i>
                </span>

                <span class="text-secondary px-1 py-0 rounded hover"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Stellar Community Fund Winner"
                >
                    <i class="bi text-info  bi-award-fill align-self-center"></i>
                </span>

                <span class="text-secondary px-1 py-0 rounded hover"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Verified Project"
                >
                    <i class="bi bi-patch-check-fill text-primary text-primary align-self-center"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-body mb-2">
                <div class="card-title">Team</div>
                <div class="team d-flex">
                    {% for member in project.projectMembers %}
                        <div class="m-2">
                            <span>
                                <img class="rounded img-thumbnail"
                                    style="width: 50px; height: 50px"
                                    src="https://dashboard.communityfund.stellar.org/api/v4/media/{{member.originalId()}}/profileimage/width/150/height/150">
                                {{member.name}}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card card-body mb-2">
                {{project.content | raw}}
            </div>
            <div class="text-center mb-2 mt-2">
                {% if project.image.name %}
                <img src="{{vich_uploader_asset(project)}}" class="img-fluid rounded mb-1">
                {% else %}
                <img src="/assets-custom/event.png" class="img-fluid rounded mb-1">
                {% endif %}
            </div>
            {% for briefSection in project.projectBriefs %}
            <div class="card card-body mb-2">
                <strong>{{briefSection.label | raw}} </strong>
                <small class=""> {{briefSection.description | raw}} </small>
                <div>{{briefSection.content | raw}} </div>
            </div>
            {% endfor %}
            <div class="container my-5">
                <div class="mb-4" id="post-form-content">
                    {% block comment_form_block %}
                    {% include 'blocks/comment_form_block.html.twig' %}
                    {% endblock %}
                </div>

                <div id="comments-list" {{ turbo_stream_listen('comments-list-' ~ project.id) }}>
                    Comments
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block create_comment %}
{% import 'macros/comment.html.twig' as comment_template %}

<turbo-stream action="replace" targets="form[name=comment_form]">
    <template>
        {{block('comment_form_block')}}
    </template>
</turbo-stream>

<turbo-stream action="prepend" target="comments-list">
    <template>
        {{ comment_template.render_comment(comment) }}
        <template>
</turbo-stream>

{% endblock %}

{% block update_comment %}
{% import 'macros/comment.html.twig' as comment_template %}

<turbo-stream action="append" target="{{ 'replies-' ~ parent_id }}" comment="{{comment.comment.id}}">
    <template>
        {{ comment_template.render_comment(comment) }}
        <template>
</turbo-stream>

{% endblock %}
