{% extends 'base.html.twig' %}

{% block title %}{{content_title}}{% endblock %}

{% set content_title = project.name%}

{% import 'macros/comment.html.twig' as comment_template %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'content-header.html.twig' with {'right_block': false , 'center_title': true} %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-body">
                {{project.description}}
            </div>

            <div class="card card-body">
                {{project.content}}
            </div>
            <div class="container my-5">
                <div class="mb-4" id="post-form-content">
                    {% block comment_form_block %}
                       {% include 'blocks/comment_form_block.html.twig' %}
                    {% endblock %}
                </div>

                <div id="comments-list" {{ turbo_stream_listen('comments-list-' ~ project.id) }}>
                    Comments
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block create_comment %}
{% import 'macros/comment.html.twig' as comment_template %}

<turbo-stream action="replace" targets="form[name=comment_form]">
    <template>
        {{block('comment_form_block')}}
    </template>
</turbo-stream>

<turbo-stream action="prepend" target="comments-list" >
    <template>
        {{ comment_template.render_comment(comment) }}
    <template>
</turbo-stream>

{% endblock %}

{% block update_comment %}
{% import 'macros/comment.html.twig' as comment_template %}

<turbo-stream action="append" target="{{ 'replies-' ~ parent_id }}" comment="{{comment.comment.id}}">
    <template>
        {{ comment_template.render_comment(comment) }}
    <template>
</turbo-stream>

{% endblock %}
