<div class="card border-0 shadow-sm mb-2">
	<div class="card-header d-flex align-items-center bg-white py-3  border-0">
        <a class="flex-shrink-0 text-decoration-none" href="/projects/stellarchain">
			<div class="bg-primary bg-opacity-10 rounded d-flex flex-shrink-0 text-primary" style="height: 36px; width: 36px;">
              	<span class="rounded-circle align-self-center mx-auto fs-5 fw-bold">SC</span>
            </div>
        </a>
        <div class="flex-grow-1 ms-2 d-flex flex-column lh-1">
            <a class="text-decoration-none text-dark fw-bold mb-1" href="/projects/{{project.slug}}"> {{project.name}} <i class="bi bi-patch-check-fill text-primary ms-1"></i></a>
            <div class="small">
            	<a class="text-decoration-none text-muted small mb-0" href="/projects/{{project.slug}}">@{{project.getUserId().username}}</a>
            	&middot;
            	<span class="text-decoration-none text-muted small mb-0" >
                    {{ project.createdAt| time_diff}}
                </span>
            </div>
        </div>
        <a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-three-dots align-self-center"></i><span class="small align-self-center"></span></a>
	</div>
	<img src="{{vich_uploader_asset(project)}}" class="card-img-top" alt="...">
	<div class="card-body border-0 py-2">
		<p class="mb-0">{{project.description}}</p>
	</div>
	<div class="card-footer d-flex justify-content-between bg-white  border-0">
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-eye align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-chat align-self-center"></i><span class="small align-self-center ms-1">233</span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex ms-2 px-2 rounded hover"><i class="bi bi-heart align-self-center"></i><span class="small align-self-center ms-1">{{project.getProjectLikes().count()}}</span></a>
    	</div>
    	<div class="d-flex">
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-bookmark align-self-center"></i><span class="small align-self-center"></span></a>
    		<a href="#" class="text-secondary text-decoration-none d-flex px-2 rounded hover"><i class="bi bi-share align-self-center"></i><span class="small align-self-center"></span></a>
    	</div>
	</div>
</div>
