{% extends 'base.html.twig' %}

{% block title %}Round Timeline{% endblock %}

{% block body %}
<div class="vh-100 overflow-y-scroll overflow-x-hidden hide-scrollbar">
    {% include 'project/header-projects.html.twig' %}

    <div class="accordion" id="rounds-accordion">
        {% for round in rounds %}
        <div class="d-flex align-items-center border-0 py-2">
            <div class="flex-grow-1 d-flex flex-column lh-1">
                <span class="fw-bold mb-1">{{round.name}}</span>
                <div class="small">
                    <span class="text-secondary small mb-0">{{round.description | raw}}</span>
                </div>
            </div>
            <div class="flex-shrink-0">
                <a href="{{path('app_projects_list')}}" class="text-decoration-none small">{{round.projects.count}} projects</a>
            </div>
        </div>
        <div class="d-flex overflow-x-scroll overflow-y-hidden pb-2 hide-scrollbar">
            <div class="swiper" {{stimulus_controller('project')}}>
                <div class="swiper-wrapper">
                    {% for project in round.projects %}
                        {{include("project/parts/project-card.html.twig", {project})}}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="py-4">
                <span>&nbsp;</span>
            </div>

            <div class="mt-0 d-block d-sm-none">
                <span>&nbsp;</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="py-4">
        <span>&nbsp;</span>
    </div>

    <div class="mt-0 d-block d-sm-none">
        <span>&nbsp;</span>
    </div>
</div>
{% endblock %}
